*{
    padding:0px;
    margin:0px;
}

body{
    background-color: black;
}


/* HEADER CODE START */
nav{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
}

.logo{
    margin-right: 136px;
    font-size: 17px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.get-in-touch{
   
    padding:11px 17px;
    background-color: yellow;
    color:black;
    font-weight: 500;
    margin-left: 113px;
}

/* HEADER CODE FINISHED */






/* SECTION CODE START */

h1{
    color:white;
    font-size: 38px;
    font-weight: 400;
}

.para{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-heading{
    width: 50%;
    margin: auto;
    width: 59.5%;
    margin-top: 100px;
}

.para{
    margin-top: 10px;
}

/* SECTION CODE ENDS */



/*    BRAND CODE STARTS */

.brand-collection{
    display: flex;
    justify-content:center;
    gap: 48px;
    margin-top: 54px;
}
/*    BRAND CODE STARTS */


/* CONTAINER SECTION STARTS */

   .container{
     
   
    margin-top:60px;
 
   }

   .img-container{
    display:flex;
    width: 59%;
    margin: auto;
    gap: 30px;
    
   }

   h2 , p{
    color:white;
   }
/* CONTAINER SECTION ENDS */



/* ARTICAL SECTION START */

article{
    background-color: rgb(42, 40, 40);
    padding-top: 1px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.article{
    display:flex;
    gap:60px;
    width: 60%;
    margin: auto;
    margin-top:60px;
}

.one, .two {
    width: 50%;  
}

/* ARTICAL SECTION ENDS */



/* BOTTOM SECTION STARTS */

.bottom{
    margin-top: 60px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 50px;
}

.bottom p{
    margin-top: 5px;
}

.btn{
    background-color: yellow;
    padding:14px 17px;
    color:black;
    font-weight: 500;
   width:100px;
   text-align: center;
}


/* BOTTOM SECTION ENDS */

/* FOOTER SECTION STARTS */

footer{
    background-color: rgb(42, 40, 40);
    display:flex;
    gap:555px;
    justify-content: center;
    align-items: center;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .logo{
    font-size: 17px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer ul{
    display: flex;
    gap:10px;
    list-style-type: none;
    

}

/* FOOTER SECTION ENDS */